
.stories{
    background-color: $backgroundColorDiv;
    width: 70%;
    height: 200px;
    margin-top: 50px;

}

.storiesText{
    font-weight: bolder;
    color: gray;
    padding: 10px
}

.plusText{
    color:$blue;
    font-weight: bolder;
    align-items: center

}

.plusText2{
    color: gray;
    display: block;
    margin-left: 40px
}